/*
// Breackpoint 2021
Using min-width

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


Using max-width

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --colore-scuro-hf: rgba(48, 54, 129, 0.5);
  --colore-scuro-main: rgba(44, 49, 114, 0.5);
  --colore-chiaro-hf: rgba(12, 193, 238, 0.5);
  --colore-chiaro-main: rgba(12, 193, 238, 0.1);
  --ombra-chiara: 10px 1px 15px rgba(12, 193, 238, 0.5);
  --ombra-scura: 10px 1px 15px rgba(48, 54, 129, 1);
}

body {
  background-image: url("../img/sfondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 150vh;
  display: flex;
  flex-flow: column;
}

header {
  flex: 1 5%;
  background-color: var(--colore-chiaro-hf);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  box-shadow: var(--ombra-chiara);
  padding: 0 2rem;
}
main {
  flex: 1 95%;
  background-color: var(--colore-chiaro-main);
}
footer {
  flex: 1 50%;
  background-color: var(--colore-chiaro-hf);
  box-shadow: var(--ombra-chiara);
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: yellow;
}

ul{
  list-style: none;
}

header>nav>ul {
  display: inline-flex;
}
header>nav>ul>li{
  margin: 0 1rem;
}

.btn {
  padding: .5rem;
  border-radius: 8px;
  border: none;
  background-color:var(--colore-chiaro-hf);
}

#menu{
  display: none;
}
#menu-scomparsa{
  display: none;
  margin-right: 1rem;
  text-align: right;
}
#menu-scomparsa li{
  margin: 1rem 0;
}

/* >>>>>>>>>>>>>>> smartphone <<<<<<<<<<<<<<< */

@media screen and (orientation: portrait){
  #night-btn{
    display: none;
  }

  header>nav>ul{
    display: none;
  }

  #menu{
    display: inherit;
  }
}
