/*
// Breackpoint 2021
Using min-width

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


Using max-width

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
*/

* {
  padding: 0;
  margin: 0;
}

:root {
  --colore-chiaro-h: rgba(12, 193, 238, 0.8);
  --colore-chiaro-container: rgba(12, 193, 238, 0.2);
  --colore-chiaro-btn: rgba(12, 193, 238, 0.9);
  --colore-chiaro-btn-bordo: rgba(86, 217, 250, 0.8);

  --colore-select: rgba(193, 250, 86, 0.9);
  --colore-select-bordo: rgba(187, 250, 86, 0.8);

  --ombra-chiara: 10px 1px 15px rgba(255, 255, 255, 0.5);
  --ombra-scura: 10px 1px 15px rgba(48, 54, 129, 1);
  --indovinata: rgba(255, 255, 0, 0.8);
  --non-indovinata: rgba(255, 0, 0, 0.8);
  --suggerita: rgba(0, 255, 0, 0.8);
}

body {
  background-image: url("../img/sfondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

header {
  /* flex: 1 5%; */
  background-color: var(--colore-chiaro-h);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 5rem;
  box-shadow: var(--ombra-chiara);
  padding: 0 2rem;
}
header > nav > ul > li {
  background-color: black;
  border-radius: 5px;
  padding: 0.4rem;
  transform: scale(0.05);
}
header > nav > ul {
  display: inline-flex;
}
header > nav > ul > li {
  margin: 0 1rem;
}

ul {
  list-style: none;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#container {
  width: 80%;
  margin: 1% 10%;
  height: 70%;
  border-radius: 40px;
  background-color: var(--colore-chiaro-container);
  display: flex;
  align-items: center;
  justify-content: center;
}
#container > img {
  width: 60vh;
  max-width: 100%;
}
#type-area {
  width: 80%;
  margin: 0 10%;
  height: 25%;
}
#type-area > ul {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}
#type-area > ul > li {
  background-color: var(--colore-chiaro-h);
  width: 5rem;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  border-radius: 8px;
}

/* #type-area > ul > li:hover {
  transform: rotate(360deg) scale(1.5);
  transition: 0.8s;
} */
#type-area > form {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#type-area > form > input {
  width: 2rem;
  text-align: center;
}
#type-area > #score {
  height: 25%;
  display: flex;
  justify-content: center;
}
.end-btn {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 8px;
  border: none;
  background-color: var(--colore-chiaro-btn);
  box-shadow: var(--ombra-chiara);
  font-size: 1rem;
}
/* .end-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
} */
#try {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
#res {
  display: none;
}
#tastiera {
  display: none;
}

/* >>>>>>>>>>>>>>> smartphone <<<<<<<<<<<<<<< */

@media screen and (orientation: portrait) {
  header > nav > ul {
    display: inline-flex;
  }
  header > nav > ul > li {
    margin: 0.1rem;
  }
}

@media screen and (max-width: 568px) {
  header {
    display: none;
  }
  #container {
    flex: 1;
    margin: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #type-area {
    flex: 2;
  }
  #type-area>#score{
    display: none;
  }
  #type-area > form {
    align-items: baseline;
  }
  #type-area > form > input {
    display: none;
  }
  #type-area > form > #sub {
    display: none;
    border: 2px var(--colore-chiaro-btn-bordo) outset;
    font-weight: bold;
  }
  #type-area > form > #sug {
    border: 2px var(--colore-chiaro-btn-bordo) outset;
    font-weight: bold;
  }
  #type-area > form > #res {
    border: 2px var(--colore-chiaro-btn-bordo) outset;
    font-weight: bold;
  }
  #type-area > ul {
    height: 20%;
  }
  #type-area > #score {
    height: 10%;
  }
  #tastiera {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  #tastiera > div {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  #tastiera > div > button {
    background-color: var(--colore-chiaro-btn);
    border-color: var(--colore-chiaro-btn-bordo);
    border-radius: 10px;
    box-shadow: var(--ombra-chiara);
    font-size: 1rem;
    font-weight: 600;
    min-width: 2rem;
    padding: 0.5rem;
    text-align: center;
  }

}

/* >>>>>>>>>>>>>>> over HD <<<<<<<<<<<<<<< */

@media screen and (min-width: 2200px) {
  #try {
    font-size: 2rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }
  #type-area > form > input {
    width: 3rem;
  }
  .end-btn {
    font-size: 2rem;
    margin: 0.5rem;
  }
}

/* #sfondo{
  background-image: url("../img/sfondo.jpg");
  opacity: 70%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
} */
